{% extends "layout.html" %}
{% load static %}

{% block title %} Arama - {{ query }} {% endblock title %}


{% block body %}

    <div role="main" class="main">

        <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md ">
            <div class="container-fluid">
                <div class="row align-items-center">

                    <div class="col">
                        <div class="row">
                            <div class="col-md-12 align-self-center p-static order-2 text-center">
                                <div class="overflow-hidden pb-2">
                                    <h2 class="text-dark font-weight-bold text-9 appear-animation"
                                        data-appear-animation="maskUp" data-appear-animation-delay="100">' {{ query }} '
                                        Aramasıyla Eşleşen Ürünler</h2>
                                </div>
                            </div>
                            <div class="col-md-12 align-self-center order-1">
                                <ul class="breadcrumb d-block text-center appear-animation"
                                    data-appear-animation="fadeIn"
                                    data-appear-animation-delay="300">
                                    <li><a href="{% url 'home:home' %}">Anasayfa</a></li>
                                    <li class="active">Ürünler</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        {% if products %}
            <div class="container py-4">

                <div class="row py-3 justify-content-center">

                    {% for product in products %}
                        <div class="col-sm-8 col-md-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeIn">
                            <article>
                                <div class="row">
                                    <div class="col">
                                        <a href="{% url 'product:product_detail' product.slug product.id %}"
                                           class="text-decoration-none">
                                            <img src="{{ product.image.url }}"
                                                 class="img-fluid hover-effect-2 mb-3" alt="{{ product.title }}"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h4 class="mb-0"><a href="#"
                                                            class="text-2 text-uppercase font-weight-bold pt-2 d-block text-dark text-decoration-none">{{ product.title }}</a>
                                        </h4>
                                        <p class="text-2">{{ product.description|safe|truncatewords:20 }}</p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>

            </div>
        {% else %}
            <div class="container py-4">
                <div class="alert alert-danger" role="alert">
                    Böyle bir ürün bulunamadı.
                </div>
            </div>
        {% endif %}


    </div>


{% endblock body %}